<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Embed Information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="article">
    <meta property="og:title" content="$title$">
    <meta property="og:url" content="https://charlesaverill.github.io/ctpe/">
    <meta property="og:image" content="https://raw.githubusercontent.com/github/explore/7905d12e729f7b0f0dc9b80ad385fca3b6e17523/topics/coq/coq.png">
    <meta property="og:description" content="A simplified explanation of commonly-used Coq tactics">
    <meta property="article:author" content="Charles Averill">
    <meta property="article:section" content="Technology">
    <meta property="article:tag" content="coq">
    <meta property="article:tag" content="proof">
    <meta property="article:tag" content="formal verification">
    <meta property="article:tag" content="tactic">

    <title>$title$</title>
    <style>
        STYLE_PLACEHOLDER
    </style>

    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="/ctpe/highlight/styles/school-book.css">
    <script src="/ctpe/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchForm = document.getElementById("searchForm");
        const searchInput = document.getElementById("searchInput");

        function performSearch() {
            let searchText = searchInput.value.toLowerCase();
            let headers = document.querySelectorAll("h2");
            for (let header of headers) {
                if (header.textContent.toLowerCase().includes(searchText)) {
                    // Scroll to the header
                    header.scrollIntoView({ behavior: "smooth" });
                    break; // Stop searching after first match
                }
            }
        }

        searchForm.addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission
            performSearch(); // Perform the search
        });
    });
    </script>
</head>
<body>
    <!-- Home Button -->
    <h3 class="home"><a href="/ctpe/">Home</a>
        <a href="https://github.com/CharlesAverill/ctpe/">Source</a></h3>
    <form id="searchForm">
        <input type="text" id="searchInput" placeholder="Tactic Name">
        <button type="submit" id="submitButton">Tactic Search</button>
    </form>

    <!-- Content -->
    <div class="container">
$body$
    </div>
</body>
</html>
