<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$</title>
    <style>
        STYLE_PLACEHOLDER
    </style>

    <link rel="stylesheet" href="/ctpe/highlight/styles/school-book.css">
    <script src="/ctpe/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <h2 class="home"><a href="/ctype/">Home</a></h2>
    <div class="container">
$body$
    </div>
</body>
</html>
