:root {
    --blue: #0000FF;
    --light-blue: #1e90ff;
  }

/* Links */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--blue);
}

a:hover {
    color: var(--light-blue);
}

h1, h2, h3 {
    text-align: left;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.home {
    text-align: right;
}

body {
    font-family: Garamond;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    body {
        margin: 8;
    }
}

/* Desktop */
@media only screen and (min-width: 769px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
        text-align: justify;
    }
}
